<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta carset="UTF-8">
</head>
<body>
<header th:insert="header.html"></header>
<h1 style="text-align: center">일반회원</h1>
<br>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">회원번호</th>
            <th scope="col">아이디</th>
            <th scope="col">이름</th>
            <th scope="col">이메일</th>
            <th scope="col">생일</th>
            <th scope="col">가입일</th>
            <th scope="col">등급</th>
            <th scope="col">권한</th>
            <th scope="col">정보</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="list:${listMember}">
            <th scope="row" th:text="${list.seq}"></th>
            <th scope="row" th:text="${list.id}"></th>
            <th scope="row" th:text="${list.name}"></th>
            <th scope="row" th:text="${list.email}"></th>
            <th scope="row" th:text="${list.birth}"></th>
            <th scope="row" th:text="${list.signupTime}"></th>
            <th scope="row" th:text="${list.grade}"></th>
            <th scope="row" th:text="${list.role}"></th>
            <th>
                <a class="btn btn-outline-primary" role="button"
                   th:href="@{/member/modify/{seq}(seq=${list.seq})}">
                    상세보기
                </a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<hr>
<h1 style="text-align: center">소셜회원</h1>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">회원번호</th>
            <th scope="col">이름</th>
            <th scope="col">이메일</th>
            <th scope="col">등급</th>
            <th scope="col">사진</th>
            <th scope="col">정보</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="User:${listUser}">
            <th scope="row" th:text="${User.seq}"></th>
            <th scope="row" th:text="${User.name}"></th>
            <th scope="row" th:text="${User.email}"></th>
            <th scope="row" th:text="${User.role}"></th>
            <th scope="row">
                <img th:src="${User.picture}" style="width:5%" >
            </th>
            <th>
                <a class="btn btn-outline-primary" role="button"
                   th:href="@{/member/socialModify/{seq}(seq=${User.seq})}">
                    상세보기
                </a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
